{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["prettier", "airbnb-base", "google"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "arrowParens": "avoid",
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 80,
        "tabWidth": 2,
        "endOfLine": "lf"
      }
    ]
  }
}
