@use '../abstracts/' as *;

.content-table .action-table {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 5px;
  padding: 5px 10px;
}

.delete.action-table i {
  color: rgb(233, 48, 48);
}

.action-table i {
  font-size: 20px;
  width: 5px;
}
