// Font family
$primary-font: Poppins-Regular;
$second-font: Poppins-Bold;
$third-font: Poppins-Medium;

// Breakpoints

$medium: 768px;
$extra-lager: 1200px;

$mobile: calc($medium - 1px);
$tablet: calc($extra-lager - 1px);

// Colors
$bg-color-primary: #053742;
$bg-color-second: #f3f3f3;
$text-color-primary: #f2f5f7;
$text-color-second: #0f1315;
$toast-color-success: #00ff1e;
$toast-color-error: #d11a1a;
